<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./static/dist/css/styles.css">
    <title>{% block title %} {% endblock %} - Lord of the rings</title>
</head>
<body>

    <div id="app">
        {% block content %}

        {% endblock %}

    </div>

    {% block scripts %}
        <script src="./static/dist/js/main.js"></script>
    {% endblock %}

</body>
</html>