{% extends 'layouts/layout.twig' %}

{% block title %} Choice your character {% endblock %}

{% block content %}

    <div class="choices__container">
        <h1 class="choices__title">Choose your character</h1>
        {{ include('./modules/choice/characters.twig') }}
    </div>
    <form id="char-form" action="?c=choices&m=choosechar" method="post">
        <input type="hidden" value="" id="char-input" name="character">
    </form>

{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="./static/dist/js/characters.js"></script>
{% endblock %}