{% extends "layouts/layout.twig" %}

{% block title %} Login {% endblock %}

{% block content %}
    
    <main class="login-screen">
        <form action="?c=home&m=login" class="login-form">
            <div class="form-group">
                <input type="text" name="name" placeholder="Ingresa tu nombre" required>
            </div>
        </form>
    </main>


{% endblock  %}

 