{% extends "layouts/layout.twig" %}

{% block title %} Login {% endblock %}

{% block content %}
    <main class="login-screen">
        <div class="container">
            <div class="login-logo">
                <div class="ring"></div>
                <div class="sauron-eye"></div>
            </div>
            <div role="form" class="login-form">
                <div class="form-group">
                    <input type="text" name="name" id="login-input" placeholder="Ingresa tu nombre" required />
                </div>
            </div>
        </div>
    </main>
{% endblock  %}

 