{% extends "layouts/layout.twig" %}

{% block title %} Login {% endblock %}

{% block content %}
    <main class="login-screen">
        <div class="dark-screen">

        </div>
        <section class="login-logo-container">

            <div class="login-logo">

            </div>

        </section>
        <div class="container">

            <section class="title">
                <h1>Welcome to Mordor!</h1>
            </section>
            <div class="button-container">
                <a class="button" href="?c=choices">Play</a>
            </div>
        </div>
    </main>
{% endblock  %}


 