{% extends 'layouts/layout.twig' %}

{% block title %} Choice your race {% endblock %}

{% block content %}

    <div class="choices__container">
        <h1 class="choices__title">Selecciona tu raza</h1>
        {{ include('./modules/choice/races.twig') }}
    </div>
    <form method="post" id="race-form" action="?c=choices&m=chooserace">
        <input type="hidden" id="chosen-race" name="race">
    </form>


{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="./static/dist/js/choice.js"></script>
{% endblock %}