@import 'variables';
@import 'base';

// placeholder classes
%abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



// load modules
@import 'modules/login';
@import 'modules/navbar';
@import 'modules/races';
@import 'modules/chars';
@import 'modules/tweaks';
@import 'modules/summary';

