.login-screen{
  height: 100vh;
  width: 100%;
  background: url("../img/loginbackground.png") no-repeat center/cover;
  .dark-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #222;
    animation: fade-out .4s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: .6s;

  }
  .login-logo-container{

    .login-logo{
      width: 129px;
      height: 129px;
      position: absolute;
      z-index: 100;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: all .2s;
      animation: glow 1s ease-in-out alternate infinite,
                  move .5s ease-in;
      animation-delay: 0s, .6s;
      animation-fill-mode: none, forwards;
      background: url("../img/sauroneye.png") no-repeat -6px -6px;
      background-size: 135px 135px;
      //box-shadow: 0 0 10px $secondary_color;

    }
  }
  .container{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
      color: #fff;
      font-family: $title_font;
      font-size: 1.5em;
      text-shadow: 0 0 20px $secondary_color;
    }
    .login-form{
      margin-top: 7em;
      width: 100%;
      input{
        --shadow-color: #EA6020;
        padding: .4em .7em;
        width: 100%;
        font-size: 1.5em;
        background: rgba(#222, .9);
        color: #fff;
        text-align: center;
        font-family: $content_font;
        box-shadow: 0 0 10px var(--shadow-color);
        transition: all .3s;
        &:focus{
          box-shadow: 0 0 50px var(--shadow-color);
        }
      }
    }

  }
}

@keyframes glow {
  from {
     box-shadow: 0 0 10px $secondary_color;
   }
  to{
    box-shadow: 0 0 500px $secondary_color;
  }

}

@keyframes move {


  to{
    top: 80%;
    left: 90%;
    bottom: 10px;
    right: 10px;
    transform: scale(.4);

  }
}

@keyframes fade-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;

  }
  100%{
    opacity: 0;
    top: -100%;
  }
}