

.choices__container{
  height: 100vh;
  max-height: inherit;
  background: #222;
  color: #fff;
  .choices__title{
    padding: .5em 0;
    font-family: $title_font;
    text-align: center;
    color: #fff;
  }

}


.races{
  --cols: 6;
  padding: 1em;
  display: grid;
  @extend %abs-center;
  width: 95%;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 30px;

  .race{
    opacity: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover{
      transform: scale(1.1);
      .race__img{
        box-shadow: 0 0 50px $accent_color;
      }
      .race__description {
        opacity: 1;
      }
    }
    &, &__img, &__name , &__description{
      transition: all .2s
    }
    &__img-container{
      position: relative;

    }
    &__img{

      height: 300px;
      margin: 0 auto;
      box-shadow: 0 0 30px $accent_color;

    }

    &__name{
      font-family: $secondary_font;
      //text-align: center;
      font-size: 1.2em;
      margin-top: 1em;
      margin-bottom: 1em;
      text-shadow: 0 0 20px $secondary_color;

    }
    &__description{
      font-family: $content_font;
      top: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(#222, .8);
      p{
        text-align: center;
        margin-top: 50%;
        margin-bottom: 50%;
        padding-left: .3em;
        padding-right: .3em;
      }
      //display: none;
    }
  }
}

