<section class="characters">
    <!-- here goes the characters -->
    {% if characters | length > 0 %}
        {% for character in characters %}
            <div class="character" id="{{character.name}}{{ loop.index }}">
                <div class="character__img-name">
                    <img src="./static/dist/img/characters/{{ character.picture }}"
                        class="character__img" alt="">
                    <p class="character__name">{{ character.name | title }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>