<div class="race">
    <div class="race__img-container">
        <img src="{{ "./static/dist/img/#{race.picture}" }}" class="race__img" alt="">
        <div class="race__description">
            <p>{{ race.description }}</p>
        </div>
    </div>
    <p class="race__name">{{ race.name }}</p>

</div>